/DemoApplication/AGGeometryKit.xcodeproj/xcuserdata/
/DemoApplication/AGGeometryKit.xcodeproj/project.xcworkspace/xcuserdata/
DemoApplication/UserInterfaceState.xcuserstate*
DemoApplication/WorkspaceSettings.xcsettings
/DemoApplication/.idea/
/DemoApplication/Pods/
/DemoApplication/AGGeometryKit.xcworkspace/xcuserdata/
/Demo/Pods/Pods.xcodeproj/xcuserdata/
/Demo/AGGeometryKit.xcodeproj/project.xcworkspace/xcuserdata/
/Demo/AGGeometryKit.xcodeproj/xcuserdata/
/Demo/AGGeometryKit.xcworkspace/xcuserdata/
.DS_Store
*.swp
*.lock
profile
*~.nib
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
*.xccheckout
xcuserdata
*.moved-aside
Demo/AGGeometryKit.xcworkspace/xcshareddata/AGGeometryKit.xccheckout