/DemoApplication/AGGeometryKit.xcodeproj/xcuserdata/
/DemoApplication/AGGeometryKit.xcodeproj/project.xcworkspace/xcuserdata/
DemoApplication/UserInterfaceState.xcuserstate*
DemoApplication/WorkspaceSettings.xcsettings
/DemoApplication/.idea/

/DemoApplication/Pods/

/DemoApplication/AGGeometryKit.xcworkspace/xcuserdata/
